*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    background:url("https://images.unsplash.com/photo-1502082553048-f009c37129b9") no-repeat center/cover;
    color:white;
    transition:1s;
}

.main{
    height:100%;
    background:linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.top-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.left h1{
    font-size:48px;
}

.right h2{
    font-size:80px;
}

.search{
    margin-top:20px;
}

.search input{
    padding:15px;
    width:300px;
    border:none;
    border-radius:30px;
    outline:none;
    font-size:16px;
}

.bottom-section{
    display:flex;
    justify-content:space-around;
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:20px;
    backdrop-filter:blur(10px);
}